<!-- This is example hamburger in my button .menu-top-trigger  -->
<!-- https://github.com/rolandtoth/hamburger-mixin  -->


                    <div class="menu-top-trigger tb_hidden " data-target="menu-mobile"
                        data-animation-effect="slide">

                        <input type="checkbox"  id="menu_mobile_toggle" 
                            class="js-trigger" data-target="menu-mobile" data-animation-effect="slide" />
                        <label for="menu_mobile_toggle">
                            <i></i>
                            <!-- <span>Defaults</span> -->
                        </label>

                    </div> 