


{% macro tabs_controls(button_text='', tabs_controls_obj=[] ) %}
{% set products_tabs_controls = [ 
    {"new": "New"}, 
    {"hits": "Hits"}, 
    {"spec": "Specials"} ] 
%}

<!-- <div class="tabs js-tabs"> -->
    <ul class="tabs__controls js-tabs__controls">

        {# for item in tabs_controls_obj #}
        {% for item in tabs_controls_obj %}

            {% set tabs__controls_item_active_class = "" %}
            {% if item['is_active_default'] == true %}
                {% set tabs__controls_item_active_class = "active" %}
            {% endif  %}  

            <!-- <li class="tabs__controls-button " data-target="#{{ name }}"><a href="#">{{ title }}</a></li> -->
            <li class="tabs__controls-button {{ tabs__controls_item_active_class }} " data-target="#{{ item['name'] }}"><a href="#">{{ item['title'] }}</a></li>
        {% endfor %}    

    </ul>
<!-- </div> -->
{% endmacro %}

        <!-- <li class="tabs__controls-button " data-target="#description"><a href="#">New</a></li>
        <li class="tabs__controls-button " data-target="#specs"><a href="#">Hits</a></li>
        <li class="tabs__controls-button active" data-target="#reviews"><a href="#">Specials</a></li> -->




{% macro tabs_content(button_text='', tabs_controls_obj={} ) %}



{% endmacro %}